body {
  height: 999px;
  background: linear-gradient(to bottom, #ffffff 0%, #adeecf 100%)
}

h1 {
  color: #282828;
}

h3 {
  color: #282828;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 10%;
}
